.body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1vw;
}

.rocket-text {
    font-family: 'Lato', sans-serif;
    font-size: 7vw;
    background: linear-gradient(90deg, #990099, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color:transparent;
}

.login-form {
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 1vw;
    display: flex;
    margin: 2vw auto;
    max-width: 12vw;
    flex-direction: column;
}

.login-textbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    color: #ffffff;
    background: linear-gradient(90deg, #990099, #000000);
    border: 2px solid#000000;
}

.login-textbox::placeholder {
    color: #aaaaaa;
}

.login-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    color: #ffffff;
    padding: 0.3vw 1vw;
    background: #990099;
    border: 2px solid#000000;
    border-radius: 0.9vw;
}

.login-button:hover {
    background: #99009999;
    color: #aaaaaa;
    cursor: pointer;
}